.table{
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    max-width: 1000px;
    min-width: 800px;
}
html, body{ 
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: url(images/background.jpg);
    font-family: "UTM Avo";
    padding: 0;
    margin: 0;
}
body *{ 
    transition-duration: .5s;
}
.card::before{ 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    content: "";
    background-image: url(images/card-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;
}
.card{ 
    cursor: pointer;
    width: 500px;
    height: 300px;
    background-color: white;
    transform: rotate(10deg);
    position: absolute;
    top: 320px;
    left: 40%;
}
.card>.card-content{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table>div, 
.table>img{ 
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .25));
}
.pencil{ 
    position: absolute;
    bottom: 25%;
    left: 20%;
    width: 500px;
    transform: rotate(40deg);
}
.card:hover ~  .pencil{
    bottom: 10%;
    left: 20%;
    transform: rotate(20deg);
}
.laptop{ 
    position: absolute;
    width: 900px;
    transform: rotate(-20deg);
    z-index: 11;
    top: -45%;
    left: -150px;
}

.eraser{ 
    position: absolute;
    top: 40%;
    width: 100px;
    right: 50px;
    transform: rotate(30deg);
}
.card:hover ~ .eraser{ 
    right: 5%;
    top: 30%;
    transform: rotate(50deg);
}