/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: "UTM Androgyne";
    src: url(fonts/UTM_Androgyne.ttf) format("truetype");
}
@font-face{ 
    font-family: "MTO  Astro City";
    src: url(fonts/MTO_Astro_City.ttf) format("truetype");
}

.table{
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    max-width: 1000px;
    min-width: inherit;
}
.preload *{ 
    -webkit-transition: none; 
    -o-transition: none; 
    transition: none;
}
#inner-shadow{ 
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .5) ;
            box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .5) ;
}
#shadow{ 
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0%;
    background-color: rgba(0,0,0,0.75);
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
}
html, body{ 
    width: 100%;
    height: 100%;
    min-width: 800px;
}
body{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(images/table12.png);
    padding: 0;
    margin: 0;
}
body *{ 
    outline: none;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
}
#card{ 
    font-family: "UTM Avo";
    width: 30rem;
    height: 300px;
    position: relative;
    top: 15rem;
    left: 25rem;
    -webkit-perspective: 2000px;
            perspective: 2000px;
}
#card.low-shadow{ 
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25); 
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25)
}
#card>.card-cover{ 
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0%;
    left:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.front, .back{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.back{
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
}
#card.hover{
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
}
#card.hover:hover{
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
    cursor: pointer;
}
.card-cover>.front{ 
    background-image: url(images/card-background.png);
}

.card-cover>.back{ 
    color: #ffdf00;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url(images/background-1.png);
    
}

.card-object>.container>img{ 
    position: absolute;
    -webkit-filter: drop-shadow(0 0 3px #ffdf00);
            filter: drop-shadow(0 0 3px #ffdf00);
}
.card-cover>.back>.card-object>.container>img:nth-child(1){ 
    height: 100px;
    top: -1rem;
    left: -2rem;
}
.card-cover>.back>.card-object>.container>img:nth-child(2){ 
    height: 30px;
    right: 2rem;
    top: 0rem;
}
.card-cover>.back>.card-object>.container>img:nth-child(3){ 
    height: 60px;
    right: -1rem;
    top: 1rem;
}

.content{ 
    font-size: 1rem;
}
.card-cover>.back>.content{ 
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 30px 50px;
}
.card-content{
    color: #ffdf00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "UTM Androgyne";
    width: 100%;
    height: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url(images/background-1.png);
}
.card-object{ 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card-object>.container{ 
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.card-content>.card-object>.container>img{ 
    height: 120px;
    right: -2rem;
    bottom: -2rem;
    
}
.card-content>.content{ 
    display: block;
    position: relative;
    padding: 30px 50px;
    
}
.card-content>.content>div:nth-child(1)>img{ 
    position: absolute;
    height: 30px;
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
}
.card-content>div:nth-child(3){ 
    position: absolute;
    bottom: 20px;
    right: 100px;
}
.low-shadow{
    -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .25));
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .25));
}
.normal-shadow{
    -webkit-filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .25));
            filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, .25));
}
#pencil{ 
    position: absolute;
    top: 50rem;
    z-index: 10;
    left: 15rem;
    width: 500px;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
#card.hover:hover ~  #pencil{
    top: 52rem;
    left: 10rem;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(-5deg);
}
#card.hover:hover>.card-cover{
    -webkit-transform:  rotateX(35deg);
            transform:  rotateX(35deg);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .25);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .25);
}
#laptop{ 
    position: absolute;
    width: 60rem;
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
    z-index: 11;
    top: -15rem;
    left: -5rem;
}
#eraser{ 
        position: absolute;
    top: 30rem;
    width: 5rem;
    left: 50rem;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
#coffee_cup{ 
    position: absolute;
    top: 25rem;
    left: -10rem;
    width: 20rem;
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
}
#coffee_cup.heavy-shadow{ 
    -webkit-filter: drop-shadow(-5px -10px 10px rgba(0,0,0,0.25)); 
            filter: drop-shadow(-5px -10px 10px rgba(0,0,0,0.25))
}
#card.hover:hover ~ #eraser{ 
    top: 27rem;
    left: 55rem;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}
/* MUSIC PLAYER */

#musicPlayer{
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 225px;
    top: 5rem;
    left: 60rem;
    transform: rotate(-10deg);
}
#musicPlayer>img{ 
    width: 100%;
    height: 100%;
    position: absolute;
}
.ipod-screen{
    width: calc(100% - 26px);
    height: calc(50% - 26px);
    top: 0;
    position: relative;
    left: 0;
    padding: 13px;
    z-index: -1;
}   
.ipod-bg{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ipod-bg>img{
   width: 100%;
   height: 100%;
   z-index: 1;
}

.bar  { 
    position: relative;
    width: 100%;
    height: 5px;
    top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.statusBar{
    width: inherit;
    position: absolute;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    height: 12px;
    top: 12px;
}
.statusBar>img{
    width: 100%;
    height: 100%;
    position: absolute;
}
#songTitle{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 45%;
    text-align: center;
}
#play_btn{
    border: none;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(206,207,212, 0.75);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    left: 50%;
    top: 15%;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    z-index: 0;
}
#seekBar{
    width: 80%;
    height: 100%;
    background-color: gray;
    border-radius: 5px;
    top: 0;
    left: 0;
    overflow: hidden;   
}
#fill{
    width: 0px;
    height: 5px;
    background-color:#353535;
}

/* =========================================== =========== ========================================================= */
/* =========================================== CREDIT NOTE ========================================================= */
#note{
    font-family: "MTO  Astro City";
    width: 150px;
    height: 150px;
    position: absolute;
}
#note>.content{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}
#note>.content>.front{
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffff8d;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#note>.content>.front>div{ 
    text-align: center;
}
#note>.content>.front>div>div>img{
    width: 50%;
}
#note>.content>.front>div>div:nth-child(1){ 
    margin: 0;
    height: 65px;
}
#note>.content>.back{ 
    background-color: #ffff8d;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}
#note.hover:hover{
    top: 22rem;
    -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    cursor: pointer;
}
#note.hover{ 
    -ms-transform: rotate(-10deg); 
        transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    top: 20rem;
    left: 12rem;
}


/* ================================================================================================================== */
/* ============================================= THE LETTER MODAL =================================================== */
.modal {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 999;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 300px;
    -ms-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    -webkit-transform: translate(-50%, -50%) scale(2);
    overflow: hidden;
    background-color: transparent;
}
.modal>.close-btn{ 
    position: absolute;
    top: 10px;
    right: 10px;
}


/* Modal Content/Box */
.modal-box {
    background-image: url("images/modal/background.jpg");
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal_close_button{
    position: absolute;
    width: 50px;
    height: 50px;
}
.modal_close_button:hover{
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.right_modal_close_btn{
    margin-right: 50px;
    float: right;
}
.modal-content{
    margin-top: 40px;
}
.modal_letter_header{
    margin: 5px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.modal_letter_second_header{
    margin: 5px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.title_modal_letter{
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.modal_text{
    font-size: 20px;
}
.user-info{ 
    position: relative;
}
.user-info{
    position: absolute;
    top: 0;
    left: 0
}
.user{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 20%;
    font-size: 10px;
    padding: 5px;
}
.user>.avatar{ 
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
#sv-518h0584>.avatar{ 
    background-image: url(images/avatar/518h0584.jpg);
}
#sv-518h0076>.avatar{ 
    background-image: url(images/avatar/518h0076.jpg);
}
#sv-518h0044>.avatar{ 
    background-image: url(images/avatar/518h0044.jpg);
}
.sticker{ 
    width: 200%;
    height: 200%;
    position: relative;
}
.sticker>img{ 
    position: absolute;
}
.sticker>img:nth-child(1){ 
    width: 50px;
    bottom: -10px;
    left: -10px;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-filter: drop-shadow(2px 3px 0px rgba(0,0,0,0.25));
            filter: drop-shadow(2px 3px 0px rgba(0,0,0,0.25));
}
.sticker>img:nth-child(2){ 
    width: 40px;
    bottom: -10px;
    right: -10px;
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
    -webkit-filter: drop-shadow(2px 3px 0px rgba(0,0,0,0.25));
            filter: drop-shadow(2px 3px 0px rgba(0,0,0,0.25));
}
.sticker-active{ 
    width: 100%;
    height: 100%;
    -webkit-transition-delay: .25s;
         -o-transition-delay: .25s;
            transition-delay: .25s;
}

.content-text{
    font-family: "UTM Avo";
    padding-left: 12%;
    padding-right: 12%;
    font-size: 17px;
}

#rose-right{
    position: absolute;
    height: 100%;
    width: 50%;
    opacity: 0.3;
    right: -6%;
    bottom: 0;
    top: 0;
}

.rose-head-text{
    width: 18px;
    height: 15px;
}

#rose-corner-left{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -2%;
    left: -3%;
    opacity: 0.3;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

#rose-corner-right{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -2%;
    right: -3%;
    opacity: 0.3;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.area{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    font-size: 0.8rem;
    position: relative;
    width: 30rem;
    overflow: hidden;
    font-family: "UTM Androgyne";
    color:#ffdf00;
    padding: 5px 0px;
    margin-left: -50px;
}
.area:nth-child(1){ 
    display: block;
    text-align: center;
    font-size: 1rem;
}
.area:nth-child(2){ 
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.area:nth-child(3){ 
    left: 0px;
    height: 80px;
    padding-right: 50px;
}
.area:nth-child(3)>.text{ 
    padding-right: 50px;
    width: 30%;
}
.area:nth-child(3)>.img{ 
    width: 70%;
    height: 100%;
    background-image: url(images/teacher/teacher1.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.area:nth-child(4){ 
    left: 0px;
    height: 90px;
}
.area:nth-child(4)>.text{ 
    padding-left: 50px;
    width: 30%;
}
.area:nth-child(4)>.img{ 
    width: 70%;
    height: 100%;
    background-image: url(images/teacher/teachers.png);
    background-size: cover;
    background-position: top;
    margin-left: 5px;
}