body{
    position: relative;
    z-index: -1;
    padding: 0;
    margin: 0;
    font-family: "UTM Avo";
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
}
.card::before{ 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    background-image: url(images/card-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;
}
.card{ 
    cursor: pointer;
    z-index: -1;
    width: 580px;
    height: 400px;
    background-color: white;
    transform: rotate(20deg);
    position: relative;
    top: 100px;
    left: 40%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.card>.card-content{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.object>img{ 
    z-index: 10;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .25));
}
.pencil{ 
    position: absolute;
    top: 60px;
    right: 200px;
    width: 500px;
    z-index: inherit;
    transform: rotate(20deg);

    transition-duration: .5s;
}
.laptop{ 
    position: absolute;
    width: 75%;
    transform: rotate(-30deg);
    top: -450px;
    left: -500px;
}
.card:hover + .object>.pencil {
    top: 0px;
    right: 20px;
    transform: rotate(30deg);
}

.card:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 247, 0.25);
}

/* CREDIT NOTE */
.credit_note{
    background-color: #ffe4ea;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: -1;
    width: 290px;
    height: 260px;
    transform: rotate(-20deg);
    position: relative;
    top: -40px;
    left: 10%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.credit_note:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 247, 0.25);
    transform: rotate(-10deg);

}

.credit_note_header{
    font-family: "Gabriola";
    position: absolute;
    top: -12px;
    margin-left: 50px;
}

.credit_note_name{
    position: relative;
    font-family: Gabriola;
    margin-top: 10px;
    font-size: 24px;
    top: 40px;
    left: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

