html {
    height: 100vh;
}

body {
    height: 500vh;
    background-image: url("images/background.jpg");
}

canvas {
    position: fixed;
    left: 75%;
    top: 70%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}